:root {
    --primary: #D74F40;
    --secondary: #E4923D;
    --graySoft: #f3f5f6;
    --graySoftHover: #eaeced;
    --text: #464646;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
    color: var(--text);
}

html, body, #root {
    height: 100%;
}

.main {
    height: calc(100% - 100px);
    padding: 50px;
}

.wrap {
    margin: auto;
    max-width: 1600px;
}

.loading {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}