:root {
    --primary: #D74F40;
    --secondary: #E4923D;
    --text: #464646;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
}

html, body, #root {
    height: 100%;
}