:root {
    --primary: #D74F40;
    --secondary: #E4923D;
    --graySoft: #f3f5f6;
    --graySoftHover: #eaeced;
    --text: #464646;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
    color: var(--text);
}

html, body, #root {
    height: 100%;
}